@use '../../styles/partials/mixins';

.profile {
	@include mixins.component-card;

	&__logout-button {
		@include mixins.button-standard;
		height: 1rem;
	}

	&__username {
		display: flex;
		gap: 1rem;
	}

	&__image {
		height: 10rem;
	}
}
