@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.exercises {
	@include mixins.component-card;
	height: fit-content;
	min-height: 100%;

	&__list {
		width: 90%;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: 1rem 0.75rem;
		gap: 1rem;
		border-right: 3px solid variables.$bf-yellow;
	}
	
	&__card {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		border: 3px solid variables.$bf-grey-3;
		border-radius: 15px;
		height: 15rem;
		margin: 0;

		&:hover {
			cursor: pointer;
			border: 3px solid variables.$bf-grey-2;
		}
	}

	&__image {
		width: 10rem;
		height: 10rem;
	}

	&__title {
		color: variables.$bf-grey-2;
		padding-top: 0.5rem;
	}

	&__button-container {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__sort {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		&-label {
			margin-left: 1rem;
			color: variables.$bf-blue-1;
		}

		&-radio {
			&:hover {
				cursor: pointer;
			}
		}
	}

	&__upload-button {
		@include mixins.button-2;	
		align-self: flex-start;
	}
}
