@use './fonts';
@use './mixins';
@use './variables';

* {
	box-sizing: border-box;
	//outline: 2px solid rgba(255,0,0,0.2);
}

body {
	margin: 0;
	font-family: 'Ubuntu';
	font-weight: normal;
	text-transform: capitalize;
}

input {
	font-family: inherit;
	border: 2px solid variables.$bf-grey-1;
	border-radius: 5px;
	padding: 0.25rem;
}

textarea {
	font-family: inherit;
	font-size: 1.25rem;
	color: variables.$bf-grey-1;
	height: fit-content;
	padding: 1rem;
	border: 3px solid variables.$bf-blue-2;
	border-radius: 1rem;
	resize: none;
}

button {
	@include mixins.button-2;

	&:active {
		color: variables.$bf-yellow;	
		border: 3px solid variables.$bf-blue-3;
	}
}
