@use './variables';

@mixin component-card {
	background-color: white;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	width: 90%;
	border-radius: 2rem;
	padding: 2rem;
	gap: 1rem;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

	/*
	&::-webkit-scrollbar {
    }

    &::-webkit-scrollbar-thumb {
    }

    &::-webkit-scrollbar-track {
    }
	*/
}

@mixin modal-outter {
	background-color: rgba(10,10,10,0.75);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

@mixin modal-inner {
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 75vh;
		width: 75vh;
		border-radius: 10%;
		gap: 1rem;
}

@mixin button-standard {
	text-decoration: none;
	color: white;
	border: 3px solid variables.$bf-blue-2;
	padding: 0.5rem;
	border-radius: 1rem;
}

@mixin button-2 {
	text-decoration: none;
	color: variables.$bf-grey-1;
	font-weight: 700;
	border: 3px solid variables.$bf-blue-2;
	background-color: variables.$bf-grey-3;
	padding: 0.5rem;
	border-radius: 1rem;
}

@mixin back-splash {
	background-image: url('../../assets/images/background.png');
	background-size: cover;
	background-position: center;
}

@mixin mobile {
	@media (min-width: 320px) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}
