@use '../../styles/partials/mixins';

.individual {
	@include mixins.component-card;
	
	&__exercise-container {
		box-sizing: border-box;
		background-color: rgba(0,100,200,0.2);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		gap: 1rem;
	}

	&__image {
		height: 20rem;
	}

	&__exercise-details {
		box-sizing: border-box;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
		gap: 1rem;
	}

	&__likes-delete-bar {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
	}
	
	&__delete-button {
		&--hidden {
			background-color: red;
			display: none;
		}
	}
	&__comments-section {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 1rem;
	}

	&__comment-submit {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	&__comment-input {
		width: 100%;
		height: 5rem;
	}

	&__submit-button {
		align-self: flex-end;
		width: 5rem;
	}

	&__comment {
		display: flex;
		flex-direction: column;
	}
}
