@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.navbar {
	box-sizing: border-box;
	height: 10vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 1rem;
	gap: 1rem;

	&__logo {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: black;
		font-size: 1.5rem;
		font-weight: 700;
		justify-self: flex-start;
		margin-right: auto;
		text-transform: none;
	}

	&__logo-image {
		height: 3rem;
	}

	&__exercises {
		@include mixins.button-standard;

		&--active {
			border: 3px solid variables.$bf-yellow;
			pointer-events: none;
		}
	}

	&__avatar-container {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: black;
		border: 3px solid variables.$bf-blue-2;
		border-radius: 50%;
		padding: 0.25rem;

		&--active {
			border: 3px solid variables.$bf-yellow;
			pointer-events: none;
		}
	}

	&__avatar {
		border-radius: 50%;
		height: 5vh;
	}
}
