@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';
@use '../../styles/partials/global';

.footer {
	color: white;
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem 1rem;
}
