@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.upload {
	@include mixins.component-card;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;

	&__upload-gif-section {
		display: flex;
		flex-direction: center;
		justify-content: center;
		height: 100%;
		width: 40%;
	}

	&__upload-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	&__form {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		border-bottom: 3px solid variables.$bf-yellow;
		padding: 2rem;
	}

	&__choose-file {
		border: 2px solid black;
	}

	& label {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__button {
		@include mixins.button-2;
		width: 25%;

		&:hover {
			cursor: pointer;
		}
	}

	&__progress {
		box-sizing: border-box;
		border: 2px solid black;
		border-radius: 7px;
		width: 50%;
		height: 1rem;
		visibility: hidden;

		&-bar {
			background-color: red;
			border-radius: 5px;
			width: 0%;
			height: 100%;
		}
	}

	&__button-row {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin-top: 2rem;
	}

	&__done-button {
		@include mixins.button-2;	
		visibility: hidden;
		
		&:hover {
			cursor: pointer;
		}
	}

	&__exercise-description {
		width: 40rem;
	}

	&__choose-file-error, &__exercise-title-error {
		color: red;
		font-size: 1rem;
		font-weight: bold;
		text-transform: uppercase;
		visibility: hidden;
	}
}
