@use '../../styles/partials/mixins';

.upload {
	@include mixins.component-card;
	justify-content: center;
	font-size: 2rem;

	&__form {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__choose-file {
		border: 2px solid black;
	}

	& label {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
