@use '../../styles/partials/mixins';

.upload {
	@include mixins.component-card;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;

	&__form {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__choose-file {
		border: 2px solid black;
	}

	& label {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__progress {
		box-sizing: border-box;
		border: 2px solid black;
		width: 50%;
		height: 1rem;
		visibility: hidden;

		&-bar {
			background-color: red;
			width: 0%;
			height: 100%;
		}
	}

	&__done-button {
		@include mixins.button-standard;	
		visibility: hidden;
		
		&:hover {
			cursor: pointer;
		}
	}
}
