@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.login {
	@include mixins.modal-outter;

	&__card {
		@include mixins.modal-inner;
	}

	&__sign-in {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-bottom: 1rem;
		border-bottom: 3px solid variables.$bf-yellow;
	}
	
	&__github {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: space-evenly;
		gap: 0.5rem;
		border: 2px solid black;
		text-decoration: none;
		font-weight: 700;
		font-size: 2em;
		color: variables.$bf-grey-1;
		border-radius: 12%;
		padding: 0.5rem;
	}
}
