@use '../../styles/partials/variables';
@use '../../styles/partials/mixins';

.signup {
	@include mixins.modal-outter;

	&__card {
		@include mixins.modal-inner;
	}

	&__title {
		border-bottom: 3px solid variables.$bf-yellow;
		padding: 1rem;
		margin-bottom: 2rem;
	}
	&__entry-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__label {
		font-weight: bold;
	}

	&__button-row {
		display: flex;
		padding-top: 2rem;
		gap: 1rem;
	}

	&__button-row {
		width: 100%;
	}

	&__cancel-button, &__signup-button {
		box-sizing: border-box;
		width: 100%;

		&:hover {
			cursor: pointer;
		}
	}

	&__error-message {
		&-username, &-password, &-password-repeat, &-avatar {
			color: red;
			margin-bottom: 1rem;
		}
	}
}
